<section class="main">
    <h1>Form</h1>
    <lib-form [(specification)]="specification" (onSubmit)="onFormSubmitted()"></lib-form>
</section>

<section class="main">
    <h1>Specification</h1>
    <p class="description">
        This is a live view of the specification object.
        <br/>
        When values in the form are changed they are also updated in this object.
    </p>
    <pre>{{specification | json}}</pre>
</section>

<section class="main">
    <h1>Submitted Result</h1>
    <p class="description">
        These are the submitted results of the form.
        <br/>
        When the submit button is clicked, a deep copy of the specification is made.
        The last copy that was made is seen here.
    </p>
    <pre>{{result | json}}</pre>
</section>

<section class="result">
    <h1>Form Submitted!</h1>
    <p>
        These are the submitted results of the form.
        <br/><br/>
        When the submit button is clicked, a deep copy of the specification is made.
        <br>
        This copy is seen here.
        <br/><br/>
        A developer using the form builder can choose how to handle these results.
        <br>
        For example, sending them to a back-end endpoint.
        <br>
        Right now, the results are simply displayed here.
    </p>
    <h3>Submitted Form Data</h3>
    <pre>{{result | json}}</pre>
    <input type="button" value="Back" (click)="onBackButton()">
</section>